td {
  transition: transform 0.3s;
}
td:hover {
  transform: scale(1.1);
}
.enabled {
  pointer-events: all
}
.disabled {
  pointer-events: none
}
@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
