@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body{
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif, serif;
  height: 100%;
}
button {
  padding: 0 !important;
  border: none;
}
button:focus {
  outline: 0;
}
button:hover {
  border: 1px solid #e8e8e8;
}
input {
  font-size: 20px;
  padding: 0 !important;
  text-indent: 10px;
  border: none;
}
input:focus {
  outline: 0;
  border: solid 1px #ffda49;
}
td {
  padding: 5px;
  height: 46px;
  width: 46px;
  transition: transform 0.3s;
}
table {
  border-collapse: collapse;
}
table td {
  border: 0.8px solid #e8e8e8;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child{
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}
td:hover {
  transform: scale(1.1);
}
.enabled {
  pointer-events: all
}
.disabled {
  pointer-events: none
}
@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
.main{
  height: 100%;
  background-color: #ffda49;
  text-align: center;
}
#root {
  height: 100%;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0; 0; 0; 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ic_logo {
  width: 100px;
  height: 16px;
  object-fit: contain;
}
.center {
  position: relative;
  margin: 0 auto;
  display: table;
}
.board-outer-div {
  display: inline-block;
  margin: 50px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0; 0; 0; 0.1);
}
.board {
  width: 525px;
  height: 525px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version; currently
  supported by Chrome and Opera */
}
/* items */
.ic_item {
  width: 45px;
  height: 45px;
  object-fit: contain;
}
.info {
  position: absolute;
  width: 187px;
  height: 347px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0; 0; 0; 0.1);
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  text-align: center;
}
.score {
  width: 62px;
  height: 24px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif;
  font-size: 19px;
  text-align: center;
  margin: 30px auto 10px auto;
  color: #424143;
}
.score-value {
  width: 125px;
  height: 33px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto 30px auto;
  color: #424143;
}
.line {
  width: 163px;
  height: 2px;
  border: solid 1px #e8e8e8;
  margin: 0 auto;
}
.moves-left {
  width: 92px;
  height: 64px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif;
  font-size: 19px;
  line-height: 1.78;
  text-align: center;
  margin: 20px auto 20px auto;
  color: #424143;
}
.moves-left-text-style {
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif;
  font-size: 19px;
  line-height: 1.78;
  text-align: center;
  color: #424143;
  font-weight: bold;
}
.time-elapsed {
  width: 112px;
  height: 64px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif;
  font-size: 19px;
  line-height: 1.78;
  text-align: center;
  margin: 15px auto 20px auto;
  color: #424143;
}
.green {
  color: #32CD32;
}
.yellow {
  color: #CCCC00;
}
.red {
  color: #FF0000;
}
.time-elapsed-text-style {
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  font-weight: bold;
}
.restart-container {
  width: 189.6px;
  height: 50px;
  border-radius: 27.2px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px rgba(0; 0; 0; 0.1);
  display: inline-block;
  margin: 0 auto;
}
.restart-outer-div {
  display: inline-block;
}
.hover {
  color: #f5c424 !important;
}
.restart {
  width: 67px;
  height: 24px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  margin-left: 10px;
  color: #424143;
  vertical-align: top;
}
.restart-img {
  margin-top: 3px;
  width: 17px;
  height: 19px;
  object-fit: contain;
  display: inline-block;
}
.end-game-wrapper {
  position: relative;
  display: table;
  margin: 0 auto;
}
.end-game-container {
  width: 462px;
  height: 542px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: inline-block;
}
.end-game-score-container {
  width: 462px;
  height: 158px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #ffda49;
}
.end-game-score {
  width: 245px;
  height: 24px;
  font-family: 'Open Sans';
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 30px auto 0 auto;
  padding: 10px;
  display: inline-block;
}
.end-game-score-value {
  width: 42px;
  height: 33px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 10px auto;
}
.end-game-name {
  width: 97px;
  height: 21px;
  font-family: 'Roboto';
  font-size: 16px;
  text-align: left;
  color: #424143;
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 5px;
}
.end-game-email {
  width: 41px;
  height: 21px;
  font-family: 'Roboto';
  font-size: 16px;
  text-align: left;
  color: #424143;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.modal-container {
  display: table;
  height: 100%;
  width: 100%;
}
.end-game-input-valid {
  width: 382px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
}
.end-game-input-invalid {
  width: 382px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #ff7e8e;
}
.end-game-submit {
  margin-top: 30px;
  width: 189.6px;
  height: 50px;
  border-radius: 27.2px;
  background-color: #ffda49;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #fff;
  font-family: 'Open Sans';
}
.hover-submit {
  background-color: #f5c424 !important;
}
.invalid-warning {
  margin-left: 40px;
  width: 250px;
  height: 19px;
  font-family: 'Roboto';
  font-size: 14px;
  text-align: left;
  color: #ff7e8e;
}
.congratulations {
  width: 130px;
  height: 33px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 60px auto 0 auto;
  padding: 10px;
  display: inline-block;
}
.congratulations-text {
  width: 355px;
  height: 90px;
  font-family: 'Roboto';
  font-size: 19px;
  line-height: 1.58;
  text-align: center;
  color: #242424;
  margin: 60px auto 0 auto;
  padding: 10px;
  display: inline-block;
}
.congratulations-finish {
  margin-top: 30px;
  width: 189.6px;
  height: 50px;
  font-family: 'Open Sans';
  border-radius: 27.2px;
  background-color: #ffda49;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}
.close-container {
  position: absolute;
  width: 56.6px;
  height: 56.6px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: -25px;
  margin-left: -35px;
  text-align: center;
}
.close-image {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 28% auto;
}
